# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Model checkpoints
checkpoint.pth
model.pth
best_model.pth

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment files
.env